aniso8601==9.0.1
async-generator==1.10
attrs==23.1.0
blinker==1.6.2
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
EasyProcess==1.1
entrypoint2==1.1
exceptiongroup
Flask
Flask-RESTful
h11
idna
itsdangerous
jeepney
Jinja2
MarkupSafe
MouseInfo
mss
outcome
packaging
Pillow
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
PySocks
python-dotenv
python3-xlib
pytweening
pytz
requests
selenium
six
sniffio
sortedcontainers
tqdm
trio
trio-websocket
urllib3
webdriver-manager
Werkzeug
wsproto
